* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: rgb(189, 189, 189);
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width:768px) {

    header {
        width: 100%;
        display: inline;
    }

    header figure img {
        width: 100%;
        height: 250px;
    }

    h1,
    h2 {
        text-align: center;
    }

    main {
        width: 100%;
        display: inline;
    }

    main .prodotti {
        width: 100%;
        flex-wrap: wrap;
    }

    main .prodotti article {
        width: 100%;
    }

    main .prodotti article figure img {
        width: 100%;
        height: 275px;
    }

  

    footer {
        width: 100%;
        text-align: center;
        display: inline;
    }
}

header {
    margin: 0 auto;
    width: 960px;
    background-color: rgba(54, 53, 53, 0.438);
    box-shadow: 10px 0px 20px rgb(42, 42, 42);
}

main {
    margin: 0 auto;
    width: 960px;
    background-color: rgb(54, 53, 53);
    box-shadow: 10px 0px 20px rgb(42, 42, 42);
    padding-bottom: 20px;
}

figure {
    margin: 0px;
    background-color: rgb(54, 53, 53);
}

.prodotti {
    width: 960px;
    display: flex;
    justify-content: space-around;
}

main article h3 {
    text-align: center;
    line-height: 15px;
}

article {
    width: 300px;
    height: 350px;
    background-color: #363535;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
}

h1,
h2 {
    padding: 20px;
    background-color: rgb(54, 53, 53);
    margin: 0 auto;
    padding-bottom: 30px;
}

.text {
    margin: 20px 10px 0px 10px;
    background-color: rgb(54, 53, 53);
    border: 1px solid white;
    padding: 0px 10px;
}

footer {
    width: 960px;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(54, 53, 53);
    box-shadow: 10px 0px 20px rgb(42, 42, 42);
    padding: 0px;
    margin-top: -16px;
}


footer div p {
    padding: 20px 0px 0px 20px;
}